<mat-card *ngIf="bookDetails">
    <mat-card-title>{{ bookDetails.title }}</mat-card-title>
        <mat-card-content>{{ bookDetails.subtitle}}</mat-card-content>
        <mat-card-content>{{ bookDetails.author}}</mat-card-content>
        <mat-card-content>{{ bookDetails.published}}</mat-card-content>
        <mat-card-content>{{ bookDetails.publisher}}</mat-card-content>
        <mat-card-content>{{ bookDetails.pages}}</mat-card-content>
        <mat-card-content>{{ bookDetails.description}}</mat-card-content>
        <mat-card-content>{{ bookDetails.website}}</mat-card-content>
</mat-card>
